body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}

code {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}

body,html {
    overflow-x: hidden
}

.homepage-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto
}

.header {
    background-color: indigo;
    color: #f9f3f3;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px
}

.hero {
    align-items: center;
    background-image: url(/static/media/background.7a5a30e3bfc62fea0c8d.png);
    background-position: 50%;
    background-size: cover;
    color: #040007;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    margin-bottom: 0;
    padding: 50px;
    position: relative;
    text-align: center;
    z-index: 1
}

.hero-overlay {
    background: #000000b3;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.hero-content {
    margin-top: 20px;
    z-index: 2
}

.hero-title {
    color: #fff;
    font-size: 2.5em;
    margin: 0
}

.sub-text {
    color: #e6d3ff;
    font-size: 1.2em;
    margin: 10px 0
}

.hero-buttons {
    margin-bottom: 20px;
    z-index: 2
}

.btn {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px #0000001a;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    margin: 5px;
    padding: 12px 25px;
    transition: box-shadow .3s ease,transform .3s ease
}

.btn:hover {
    box-shadow: 0 6px 8px #00000026;
    opacity: .95;
    transform: translateY(-2px)
}

.about-us,.get-started,.services {
    padding: 20px;
    text-align: center
}

.about-us {
    background-color: #f4e1ff
}

.services {
    background-color: #fff
}

.get-started {
    background-color: #f4e1ff
}

.footer {
    background-color: indigo;
    color: #000;
    padding: 10px;
    text-align: center
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px
}

.service-card {
    background: #f4e1ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
    color: #000;
    margin: 10px;
    padding: 20px;
    transition: transform .3s;
    width: 30%
}

.service-card:hover {
    transform: scale(1.05)
}

.service-icon {
    color: #9b30ff;
    font-size: 40px;
    margin-bottom: 10px
}

.service-card h3 {
    color: indigo;
    margin: 15px 0
}

@media (max-width: 768px) {
    .service-card {
        color:#000;
        margin: 10px 0;
        width: 100%
    }
}

.btn.blue {
    color: #fff
}

.btn.red {
    background-color: #d14eff;
    color: #fff
}

.btn.grey {
    background-color: #b58dd7;
    color: #fff
}

.btn.green {
    background-color: #9370db;
    color: #fff
}

.about-us p,.services p {
    color: #000
}

body {
    background-color: #000;
    color: #fff;
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0
}

.login-container {
    align-items: center;
    background-color: #000;
    display: flex;
    height: 100vh;
    justify-content: left;
    margin-top: 20px
}

.login-form-wrapper {
    display: flex;
    height: 90%;
    max-width: 1200px;
    width: 80%
}

.login-form {
    align-items: flex-start;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem
}

.paxful-logo {
    margin-bottom: 2.5rem;
    margin-left: 0;
    margin-top: 10px;
    width: 30px
}

.paxful-name {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 0 2.5rem
}

h1 {
    color: #fff;
    margin: 0
}

p {
    color: #777;
    margin: 0 0 .2rem
}

.form-group {
    width: 100%
}

.form-group label {
    display: block;
    margin-bottom: .5rem
}

.form-input {
    background-color: #222;
    border: none;
    border-radius: 23px;
    box-sizing: border-box;
    color: grey;
    padding: 1.5rem 1rem;
    width: 100%
}

.form-input::placeholder {
    color: #777
}

.password-input-wrapper {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%
}

.toggle-password {
    color: #777;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    right: 10px
}

.error {
    color: red;
    font-size: .875rem;
    margin-top: .25rem;
    text-align: left
}

.forgot-password-link {
    margin-left: auto;
    margin-top: .5rem;
    text-decoration: none
}

.login-button {
    border: none;
    border-radius: 23px;
    color: #000;
    cursor: pointer;
    font-weight: 700;
    margin-top: 10px;
    padding: 1.5rem 1rem;
    transition: background-color .3s;
    width: 100%
}

.login-button,.login-button:hover {
    background-color: #c8f051
}

.illustration {
    align-items: center;
    background-color: #000;
    display: flex;
    flex: 1 1;
    justify-content: center
}

.illustration img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain
}

@media (max-width: 750px) {
    .login-container {
        justify-content:center;
        margin-right: .5rem
    }

    .login-form-wrapper {
        display: block;
        margin-right: 1.5rem;
        width: 100%
    }

    .forgot-password-link {
        margin-left: auto;
        text-align: right
    }

    .login-form {
        align-items: flex-start;
        gap: 1.5rem;
        margin-left: 1.2rem;
        padding: 0;
        width: 100%
    }

    .paxful-logo {
        margin-bottom: 3.5rem;
        width: 40px
    }

    .paxful-name {
        font-size: 2.8rem;
        margin: 0 0 3.5rem
    }

    h1,p {
        color: #fff;
        margin: 0
    }

    .forgot,h1,p {
        text-align: left
    }

    .forgot {
        margin-top: 1rem
    }

    .form-footer {
        text-align: center;
        width: 100%
    }

    .illustration {
        display: none
    }
}

.logoname {
    align-items: center;
    color: #fff;
    display: flex;
    gap: .5rem
}

.forgot {
    color: grey;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 5px;
    text-align: right
}

.forgot-password-link {
    color: grey
}

.forgot-password-link,.signup {
    text-decoration: underline
}

.form-group label {
    color: #908181
}

.footer {
    display: none!important
}

.transaction-container {
    background-image: url(/static/media/background.7a5a30e3bfc62fea0c8d.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #161ade;
    font-family: Arial,sans-serif;
    height: 100vh;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    padding: 10px;
    position: relative
}

.scrollable-content {
    height: calc(100vh - 40px);
    overflow-y: auto
}

.scrollable-content::-webkit-scrollbar {
    display: none
}

.scrollable-content {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.action-section,.confirmation-section,.customer-details,.payment-info,.transaction-details,.transaction-status {
    align-items: center;
    background-color: #f9f9f9;
    border-left: 8px solid #ccc;
    border-radius: 10px;
    color: #000;
    display: flex;
    margin-bottom: 20px;
    min-height: 100px;
    padding: 20px 15px;
    position: relative
}

.transaction-details p {
    color: #000
}

.notes {
    margin-top: 20px
}

.payment-detail p {
    color: #000
}

.action-section {
    align-items: center;
    color: #000;
    display: flex
}

.transaction-status p {
    color: #000
}

.oval {
    align-items: center;
    background-color: #a1c8f1;
    border-radius: 10px/30px;
    display: flex;
    flex: 0 0 5%;
    height: 55px;
    justify-content: center;
    margin: 4px;
    padding: 8px;
    width: 10px
}

.action-details {
    flex: 0 0 70%;
    padding-left: 10px
}

.action-details p {
    color: #000;
    line-height: 1.8;
    margin: 0
}

.required-text {
    color: red
}

.link-action {
    color: #007bff;
    font-size: 16px;
    line-height: 1.8;
    margin-right: 20px;
    text-decoration: none
}

.link-action.cancel {
    color: red
}

.link-action:hover {
    text-decoration: underline
}

.confirmation-section p {
    color: #000;
    font-weight: 700
}

.confirmation-section span {
    color: #777;
    margin-left: 10px
}

@media (min-width: 750px) {
    .transaction-container {
        overflow-x:hidden;
        padding: 15px
    }

    .confirmation-section,.customer-details,.payment-info,.transaction-details,.transaction-status {
        margin-bottom: 10px;
        padding: 10px;
        width: 100%
    }

    .oval {
        height: 45px;
        margin-right: 5px;
        width: 5%
    }

    .action-details {
        font-size: .9rem;
        overflow-wrap: break-word
    }
}

body,html {
    height: 100%;
    margin: 0;
    padding: 0
}

.customer-details p,.transaction-details p {
    color: #000;
    margin: 10px 0
}

.notes {
    color: #000
}

.detail-row {
    display: block;
    margin: 10px 0
}

.centered {
    text-align: center
}

.blue {
    color: blue;
    font-weight: 700
}

.notes {
    margin-top: 10px
}

.customer-details,.transaction-details {
    background-color: #f9f9f9;
    border-left: 4px solid #d6e1ec;
    border-radius: 8px;
    color: #000;
    font: 1em sans-serif;
    margin-bottom: 20px;
    padding: 10px
}

.customer-details h4,.transaction-details h4 {
    color: #007bff;
    margin-bottom: 15px
}

.detail-column {
    line-height: 1.1;
    margin-left: 25px;
    text-align: left
}

.detail-column a {
    color: #007bff;
    text-decoration: none
}

.detail-column a:hover {
    text-decoration: underline
}

.footer-container {
    background-color: #007bff;
    border-radius: 8px;
    bottom: 0;
    color: #000;
    left: 0;
    margin-top: 20px;
    padding: 15px;
    position: relative;
    text-align: center;
    width: 100%
}

.payment-detail span {
    color: #777;
    font-size: .9rem;
    padding-top: 20px
}

.detail-column h4 {
    font: 1.1rem sans-serif
}

.detail-notes {
    color: #312f2f
}

.detail-notes,.detail-notes strong {
    font-size: .9rem
}

.track-no h1 {
    color: #000;
    font: 1.2rem sans-serif;
    font-size: large
}

.scroll-container {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-height: 90vh;
    overflow-y: auto;
    padding: 20px
}
.link {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Makes the link take the color of its parent (button in this case) */
  }
form {
    margin: 20px auto;
    max-width: 500px
}

h2 {
    color: #007bff;
    text-align: center
}

input,textarea {
    border: 1px solid #ccc;
    margin: 10px 0
}

button,input,textarea {
    border-radius: 4px;
    padding: 10px;
    width: 100%
}

textarea {
    resize: vertical
}

.tracking-page {
    align-items: center;
    background-image: url(/static/media/background.7a5a30e3bfc62fea0c8d.png);
    background-position: 50%;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center
}

.overlay {
    background-color: #390ed4cc;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0003;
    padding: 30px;
    text-align: center;
    width: 300px
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    width: 100%
}

button,input {
    font-size: 16px
}

button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px
}

button:hover {
    background-color: #0056b3
}

.table-container {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 10px #0000001a;
    padding: 20px
}

.table-scroll {
    overflow-x: auto
}

table {
    border-collapse: collapse;
    color: #000;
    width: 100%
}

th {
    background-color: #4caf50;
    color: #060505;
    text-align: left
}

td,th {
    padding: 10px
}

td {
    border-bottom: 1px solid #ddd
}

.table-row:hover {
    background-color: #f1f1f1
}

.error-message {
    color: red;
    margin-top: 10px
}

@media (max-width: 600px) {
    table {
        color:#000;
        font-size: .8em
    }
}

.form-container {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 10px #0000001a;
    max-height: 400px;
    overflow-y: auto;
    padding: 20px
}
.button-container {
    display: flex;  
    gap: 10px;  
}

.btn {
    padding: 10px 20px;  
}
.amount-color {
}
